---
layout: default
---

<div class="home">

    <h1 class="page-heading"></h1>

    {{ content }}
    <h1>每月总结</h1>
    <ul class="post-list">
        {% for post in site.categories.summary reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>网络</h1>
    <ul class="post-list">
        {% for post in site.categories.network reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>调试</h1>
    <ul class="post-list">
        {% for post in site.categories.debugging reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Node.js</h1>
    <ul class="post-list">
        {% for post in site.categories.nodejs reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>JavaScript</h1>
    <ul class="post-list">
        {% for post in site.categories.javascript reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Python</h1>
    <ul class="post-list">
        {% for post in site.categories.python reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>C++</h1>
    <ul class="post-list">
        {% for post in site.categories.cpp reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Web知识</h1>
    <ul class="post-list">
        {% for post in site.categories.web reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>算法</h1>
    <ul class="post-list">
        {% for post in site.categories.algorithm reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Windows 编程</h1>
    <ul class="post-list">
        {% for post in site.categories.windows reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>设计模式</h1>
    <ul class="post-list">
        {% for post in site.categories.pattern reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Chromium</h1>
    <ul class="post-list">
        {% for post in site.categories.chromium reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <h1>Other</h1>
    <ul class="post-list">
        {% for post in site.categories.other reversed %}
        <li>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | relative_url }}">via RSS</a></p>

</div>